
    <span class="page-title">Events</span>


    <% @events.each do |event| %>
    	<h3><%= event.title %></h3>
    	<p><%= event.description %></p>
    	<h4><%= event.speaker.name %></h4>
    	<p><strong><%= event.date_time.to_s[11,5] %></strong></p>
    	<p></p>
    	<button><%= link_to 'Book Now!', event_path(event.id) %></button>
    <% end %>
