 <%= form_for [:admins, @user] do |f| %> <!--need :admins since namespaced-->
     <div class="admin">
        <fieldset>
            <legend>User</legend>
            <p><%= f.label :name, :class =>'field' %></p>
            <p><%= f.text_field :name, :class =>'textbox-300' %></p>

            <p><%= f.label :email, :class =>'field' %></p>
            <p><%= f.text_field :email, :class =>'textbox-300'  %></p>

             <p><%= f.label :bio, :class =>'field' %></p>
             <p><%= f.text_field :bio, :class =>'textbox-300'  %></p>
             <p> 
                <label for="">Upload File</label>
                <%= f.file_field :photo %>
             </p> 

             <p><%= f.submit :class =>'btn'%></p>
         </fieldset>
     </div>
 <% end %>
