<div class="schedule red-page hor-allign" id="schedule">
  <div class="default-container">
    <div class="hor-wrapper">
      <span class="schedule-title">Schedule</span><hr>


      <ul class="left">

        <% @events_left.each do |event| %>
        <li class="animate fadeInLeft" data-anim-type="fadeInLeft">
          <% if logged_in? %>
            <%= link_to "/events/#{event.id}/join", method: :post, class: "join-event-modal" do %><i class="fa fa-book"></i>
            <% end %>
          <% else %>
          <i class="fa fa-book join-event-modal" data-event-id="<%= event.id %>"></i>
          <% end %>

          <h5><%= event.title %> <span>- <%= event.date_time.to_s[11,5] %></span></h5>
          <p><%= event.description %></p>

        </li>
        <% end %>


      </ul>

      <ul class="right">

        <% @events_right.each do |event| %>
        <li class="animate fadeInRight" data-anim-type="fadeInRight">
          <% if logged_in? %>
            <%= link_to "/events/#{event.id}/join", method: :post, class: "join-event-modal" do %><i class="fa fa-book"></i>
            <% end %>
          <% else %>
          <i class="fa fa-book join-event-modal" data-event-id="<%= event.id %>"></i>
          <% end %>
          <h5><%= event.title %></h5>
          <p><%= event.description %></p>
        </li>
        <% end %>

      </ul>




    </div>


  </div>
</div>

