<div class="schedule white-page hor-allign" id="schedule">
  <div class="default-container">
    <div class="hor-wrapper">
      <span class="schedule-title">Schedule</span><hr>

		<% @events.each do |event| %>
      <div data-sr="reset" class="event-listing">
          <div class="listing-banner">
            <span class="listing-name"><strong><%= event.speaker.name %></strong></span>
					 <span class="listing-time"><%= event.date_time.to_s[11,5] %></span>
          </div>

          <div class="listing-details hor-allign">
          <%= image_tag('placeholder.gif', :class=> "blank")%>
          <span class="listing-title"><%= event.title %></span>
          <p><%= event.description %></p>
      <% if logged_in? %>
				<button class="btnBookNow-sq">
					<%= link_to 'Attend', "/events/#{event.id}/join", method: :post %>
				</button>
			<% else %>
				<button class="btnBookNow-sq join-event-modal" data-event-id="<%= event.id %>">BOOK</button>
			<% end %>
    </div>
      </div>
     <% end %>
      </div>


   </div>
</div>
