<div data-sr="reset" id="team">
	<span class="contact-title">Team</span>
  <hr>
  <ul>
    <li><span>CEO Software Engineer: </span><span><MARQUEE WIDTH="30%">Aden Margheriti <%= image_tag('wdi_img/Aden.jpg', :class => "img_team") %></MARQUEE></span></li>
    <li><span>CEO CSS Frameworks: </span><span><MARQUEE WIDTH="40%">Matt Cameron <%= image_tag('wdi_img/matt.jpg', :class => "img_team") %></MARQUEE></span></li>
    <li><span>CEO GitHub & Construction: </span><span><MARQUEE WIDTH="50%">Mike Goodwin <%= image_tag('wdi_img/mike.jpg', :class => "img_team") %></MARQUEE></span></li>
    <li><span>CEO Ruby Speciallists: </span><span><MARQUEE WIDTH="20%">Jeff Wolff <%= image_tag('wdi_img/jeff.jpg', :class => "img_team") %></MARQUEE></span></li>
    <li><span>CEO Internetwork Comms: </span><span><MARQUEE WIDTH="30%">Justin Ward <%= image_tag('wdi_img/justin.jpg', :class => "img_team") %></MARQUEE></span></li>
    <li><span>CEO Software Development: </span><span><MARQUEE WIDTH="40%">Dom White <%= image_tag('wdi_img/dom.jpg', :class => "img_team") %></MARQUEE></span></li>
    <li><span>CEO Information Code Acquisition: </span><span><MARQUEE WIDTH="50%">Nick Pateman <%= image_tag('wdi_img/nick.jpg', :class => "img_team") %></MARQUEE></span></li>

</ul>
</div>