<div class="home red-page hor-allign">
  <div class="default-container">
    <div class="hor-wrapper">
    <%= image_tag('logowhite.png', :class=> "home-logo span-6")%>
    <p>
      WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts. Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
    </p>
    </div>
  </div>
</div>

<div class="speakers white-page hor-allign">
  <div class="default-container">

    <span class="title-speakers">
      <h2>Speakers</h2>
    </span>

    <div class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Matt Cameron</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Dom White</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jeff Wolf</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Aden Margheriti</b></span>
      <p>
      </p>
    </div>

        <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Matt Cameron</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Dom White</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jeff Wolf</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Aden Margheriti</b></span>
      <p>
      </p>
    </div>

        <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Matt Cameron</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Dom White</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jeff Wolf</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Aden Margheriti</b></span>
      <p>
      </p>
    </div>

        <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Matt Cameron</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Dom White</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jeff Wolf</b></span>
      <p>
      </p>
    </div>

    <div class="speaker-listing">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Aden Margheriti</b></span>
      <p>
      </p>
    </div>





  </div>
</div>



