<div class="home red-page hor-allign" id="home">
  <div class="default-container">
    <div data-sr class="hor-wrapper">
    <%= image_tag('logowhite.png', :class=> "home-logo span-6")%>
    <p>
      WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts. Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
    </p>
    <div id="bounce-arrow"><a data-scroll href="#speakers"><i class="fa fa-chevron-circle-down"></a></i></div>
    </div>
  </div>
</div>

<%= render 'about' %>

<%= render 'speakers' %>

<%= render 'schedule' %>

<%= render 'contact' %>

<%= render 'sponsors' %>

<%= render 'team' %>










