<div class="home red-page hor-allign" id="home">
  <div class="default-container">
    <div data-sr class="hor-wrapper">
    <%= image_tag('logowhite.png', :class=> "home-logo span-6")%>
    <p>
      WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts. Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
    </p>
    <div id="bounce-arrow"><a data-scroll href="#speakers"><i class="fa fa-chevron-circle-down"></a></i></div>
    </div>
  </div>
</div>

<div class="speakers white-page hor-allign" id="speakers">
  <div class="default-container">

    <span class="title-speakers">
      <h2>Speakers</h2>
    </span>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Matt Cameron</b></span>
      <p class="bio">
      </p>
    </div>

     <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Dom White</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Nike Pateman</b></span>
      <p class="bio">
      </p>
    </div>

      <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Aden Margheriti</b></span>
      <p class="bio">
      </p>
    </div>

     <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Beta Sucks</b></span>
      <p class="bio">
      </p>
    </div>

      <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Luke Shillabeer</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Matt Swann</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Daniel Tsui</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>JC Lee</b></span>
      <p class="bio">
      </p>
    </div>

     <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Louis Moore</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Phil Costanza</b></span>
      <p class="bio">
      </p>
    </div>

      <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jaya Winojo</b></span>
      <p class="bio">
      </p>
    </div>

     <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Justin Ward</b></span>
      <p class="bio">
      </p>
    </div>

      <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jeff Wolff</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Jared O'Loughlin</b></span>
      <p class="bio">
      </p>
    </div>

    <div data-sr class="speaker-listing" id="speaker">
      <%= image_tag('placeholder.gif')%>
      <span class="name"><b>Mike Goodwin</b></span>
      <p class="bio">
      </p>
    </div>





  </div>
</div>