  <span class="page-title">The Team</span>

  <a href="/">home</a>


  <ul>
    <li><span>CEO Software Engineer: </span><span>Matt Cameron</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
    <li><span>CEO CSS Frameworks: </span><span>Aden Margheriti</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
    <li><span>CEO GitHub & Construction: </span><span>Mike Goodwin</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
    <li><span>CEO Ruby Speciallists: </span><span>Jeff Wolff</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
    <li><span>CEO Internetwork Comms: </span><span>Justin Ward</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
    <li><span>CEO Software Development: </span><span>Dom White</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
    <li><span>CEO Information Code Acquisition: </span><span>Nick Pateman</span><span><%= image_tag('Man-Placeholder-150x150.jpg') %></span></li>
</ul>