<%= link_to root_path do %>
	<li><i class="fa fa-bars"></i></li>
<% end %>
<%= link_to root_path do %>
	<li>Home <i class="fa fa-home"></i></li>
<% end %>
<%= link_to root_path(:anchor => "about") do %>
	<li>About <i class="fa fa-info-circle"></i></li>
<% end %>
<%= link_to root_path(:anchor => "schedule") do %>
	<li>Schedule <i class="fa fa-calendar"></i></li>
<% end %>
<%= link_to root_path(:anchor => "speakers") do %>
	<li>Speakers <i class="fa fa-bullhorn"></i></li>
<% end %>
<%= link_to root_path(:anchor => "sponsors") do %>
	<li>Sponsors <i class="fa fa-smile-o"></i></li>
<% end %>
<%= link_to root_path(:anchor => "contact") do %>
	<li>Contact <i class="fa fa-envelope"></i></li>
<% end %>
