<div class="admin-pages">
    <h1><%= @event.title %></h1>
    <h2>Attendees</h2>
    <table class="admin" border="1">
      <tr>
        <th>Name</th>
        <th><%= link_to 'Add attendee to event', new_admins_attendee_path(@event), method: :get %></th>
      </tr>
      <% @attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.name %></td>
            <td><%= link_to 'Remove from event', admins_attendee_path(attendee, :event_id => @event.id), method: :delete %></td>
          </tr>
        <% end %>

    </table>
    <%= render :partial => 'admins/pages/admin' %>
</div>


