<!DOCTYPE html>
<html lang="en">
<head>
  <title>WdiConf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>


<body>



  <nav class="default" id="navbar">
    <ul>
      <a data-scroll href="#home"><li><i class="fa fa-bars"></i></li></a>
      <a data-scroll href="#home"><li>Home <i class="fa fa-home"></i></li></a>
      <a data-scroll href="#speakers"><li>Speakers <i class="fa fa-bullhorn"></i></li></a>
      <a href="/about"><li>About <i class="fa fa-info-circle"></i></li></a>
      <a href="#"><li>Schedule <i class="fa fa-calendar"></i></li></a>
      <a href="/contact"><li>Contact <i class="fa fa-envelope"></i></li></a>
      <a href="#"><li>Sponsors <i class="fa fa-smile-o"></i></li></a>
      <a href="/team"><li>The Team <i class="fa fa-users"></i></li></a>
      <!-- <a href="/events"><li>Events</li></a> -->
    <!-- start of login -->
    <li>
    <div class="logged-in">
     <% if logged_in? %> 
      <a href="#"><%= current_user.name %></a>
       <%= form_tag '/logout', :method => :delete do %> 
        <button>Logout</button>
       <% end %>
      <% else %>
        <%= link_to('Login', login_path) %> 
        <a href="/login"><i class="fa fa-sign-in"></i></a>
      <% end %> 

      <% if logged_in? && current_user.role == "speaker" %>
        <!-- <a href="#">View Profile</a> -->
      <% end %> 
    </div> 
    <!-- end of login  -->
    </li>
    </ul>
  </nav>

<%= yield %>

<script>
    smoothScroll.init();
    window.sr = new scrollReveal();
</script>
</body>
</html>