<!DOCTYPE html>
<html lang="en">
<head>
  <title>WdiConf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="default" id="navbar">
    <ul>
      <a data-scroll href="#home"><li><i class="fa fa-bars"></i></li></a>
      <a data-scroll href="#home"><li>Home <i class="fa fa-home"></i></li></a>
      <a data-scroll href="#about"><li>About <i class="fa fa-info-circle"></i></li></a>
      <a data-scroll href="#schedule"><li>Schedule <i class="fa fa-calendar"></i></li></a>
      <a data-scroll href="#speakers"><li>Speakers <i class="fa fa-bullhorn"></i></li></a>
      <a data-scroll href="#sponsors"><li>Sponsors <i class="fa fa-smile-o"></i></li></a>
      <a data-scroll href="#team"><li>The Team <i class="fa fa-users"></i></li></a>
      <a data-scroll href="#contact"><li>Contact <i class="fa fa-envelope"></i></li></a>

      <!-- start of login -->
      <% if logged_in? %>
      <div class="logged-in">
        <%= link_to current_user.name, user_path(current_user.id) %>
        <%= form_tag '/logout', :method => :delete do %>
          <button>Logout</button>
        <% end %>
      </div>
      <% else %>
        <a href="#login" class="login-modal"><li>Login<i class="fa fa-sign-in"></i></li></a>
      <% end %>
      <!-- end of login  -->
   </ul>
 </nav>


  <!-- Display any errors (in a popup) -->
  <% if flash[:notice] %>
    <div class="modal-background notice" id="join-event-modal">
      <div class="modal">
        <div class="close-modal">X</div>
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>
  <!-- end errors section -->

  <!-- Display login popup when needed-->
  <%= render 'shared/login' %>
  <!-- end login popup -->

 <%= yield %>

 <script>
   smoothScroll.init();
   window.sr = new scrollReveal();
 </script>
</body>
</html>