<!DOCTYPE html>
<html lang="en">
<head>
  <title>WdiConf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
</head>



<body>

<!-- start of login -->
 <% if logged_in? %> 
  Logged in as <%= current_user.name %>
   <%= form_tag '/logout', :method => :delete do %> 
    <button>Logout</button>
   <% end %> 
  <% else %>
    <%= link_to('Login', login_path) %>
 <% end %> 

<% if logged_in? && current_user.role == "speaker" %>
  <a href="#">View Profile</a>
<% end %> 
<!-- end of login  -->

  <nav class="default span-1" id="navbar">
      <%=image_tag('menuicon.png')%>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="#"><li>Speakers</li></a>
      <a href="/about"><li>About</li></a>
      <a href="#"><li>Schedule</li></a>
      <a href="/contact"><li>Contact</li></a>
      <a href="#"><li>Sponsors</li></a>
      <a href="/team"><li>The Team</li></a>
      <a href="/events"><li>Events</li></a>
    </ul>
  </nav>


<div class="canvas">
  <div id="background-color" class="red">

    <div class="container">
      <%= yield %>
    </div>
</div>




</body>
</html>